<footer>
    <div class="social_all">
      <hr />
      <div class="social">
        <a href="https://www.linkedin.com/school/bml-munjal-university/">
          <img src="img/linkedin.png" alt="linkedin" />
        </a>
        <a href="https://www.facebook.com/BMLMunjalUniversity" target="_blank">
          <img src="img/Facebook-logo.png" alt="facebook" />
        </a>
        <a href="https://x.com/BMLUniv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
          <img src="img/twitter (1).png" alt="twitter" />
        </a>
        <a href="https://www.youtube.com/user/BMLMunjalUniv" target="_blank">
          <img src="img/youtube (1).png" alt="youtube" />
        </a>
        <a href="https://www.instagram.com/bmlmunjaluniversity/?hl=en" target="_blank">
          <img src="img/instagram (1).png" alt="instagram" />
        </a>
      </div>
      <hr />
    </div>
    <div class="copyright">
      <h2>TechFolio</h2>
      <h6>Copyright © 2024 AJKTech</h6>
    </div>
  </footer>
  